# Understanding Descriptive Statistics

Import the necessary libraries here:

In [3]:
# Libraries
import pandas as pd
import numpy as np

## Challenge 1
#### 1.- Define a function that simulates rolling a dice 10 times. Save the information in a dataframe.
**Hint**: you can use the *choices* function from module *random* to help you with the simulation.

In [110]:
# your code here
#import the random library for dice roll
import random
 
#create the list
lst = []
 
#5 repetitions
for i in range(10):
    #roll the die and calculate the mean
    total = 0
    for r in range(10):
        roll = (random.randint(1,6))
       
   
    #add the roll to the list
    lst.append(roll)

print(lst)
df = pd.DataFrame(lst)
df

[2, 2, 6, 5, 5, 1, 3, 3, 1, 4]

   0
0  2
1  2
2  6
3  5
4  5
5  1
6  3
7  3
8  1
9  4

#### 2.- Plot the results sorted by value.

In [3]:
# your code here
#WE DONT HAVE TO

SyntaxError: invalid syntax (1072014335.py, line 2)

#### 3.- Calculate the frequency distribution and plot it. What is the relation between this plot and the plot above? Describe it with words.

In [ ]:
# your code here

In [58]:
"""
your comments here
"""
counts = df[0].value_counts().to_dict()
print(counts)

KeyError: 0

## Challenge 2
Now, using the dice results obtained in *challenge 1*, your are going to define some functions that will help you calculate the mean of your data in two different ways, the median and the four quartiles. 

#### 1.- Define a function that computes the mean by summing all the observations and dividing by the total number of observations. You are not allowed to use any methods or functions that directly calculate the mean value.

In [96]:
# your code here

def mean_cal(lst):
    accumulator = 0
    count = 0
    for element in lst:
        accumulator += element
        
    for element in lst:
        count += 1
    return accumulator/ count


mean_cal(lst)

2.6

#### 2.- First, calculate the frequency distribution. Then, calculate the mean using the values of the frequency distribution you've just computed. You are not allowed to use any methods or functions that directly calculate the mean value.

In [115]:
df.rename(columns={0 :'Dice'}, inplace=True )
# your code here
freq = pd.DataFrame(df.value_counts(),columns=['frequency']).reset_index()
freq['results_and_frequency'] = freq['frequency'] * freq['frequency']
freq.sort_values(by='Dice',ascending=True)

   Dice  frequency  results_and_frequency
0     1          2                      4
1     2          2                      4
2     3          2                      4
4     4          1                      1
3     5          2                      4
5     6          1                      1

#### 3.- Define a function to calculate the median. You are not allowed to use any methods or functions that directly calculate the median value. 
**Hint**: you might need to define two computation cases depending on the number of observations used to calculate the median.

In [57]:
def median_calc(lst):
    lst.sort()
    count = 0
    
    for element in lst:
        count += 1
        
    g=count//2
    if count%2!=0:
        print (f"median: {lst[g]}")
    elif count%2==0:
        print (f"median: {(lst[g-1]+lst[g])/2}")
        
median_calc(lst)

median: 2.5

#### 4.- Define a function to calculate the four quartiles. You can use the function you defined above to compute the median but you are not allowed to use any methods or functions that directly calculate the quartiles.

In [48]:
df.rename(columns={0 :'Dice'}, inplace=True )

df.sort_values(by='Dice', inplace=True)
df.reset_index(drop=True)

   Dice
0     1
1     1
2     1
3     2
4     2
5     3
6     3
7     4
8     4
9     5

In [49]:
df.describe()

            Dice
count  10.000000
mean    2.600000
std     1.429841
min     1.000000
25%     1.250000
50%     2.500000
75%     3.750000
max     5.000000

In [67]:
def median(df):
    sort = df.sort_values(by=['Dice'],ascending=True).reset_index(drop=True)
    if len(df)%2 != 0:
        return sort.at[(len(df)+1)/2-1,'Dice'] #index starts at 0 so we remove -1
    else:
        return ((sort.at[(len(df)/2)-1,'Dice']) + (sort.at[len(df)/2,'Dice'])) / 2

def quartiles(df):
    sort = df.sort_values(by=['Dice'],ascending=True).reset_index(drop=True)
    return print('min:',sort['Dice'].min(),"25%:",median(sort.iloc[:int(len(sort)/2)]),"50%:",median(df),"75%:",median(sort.iloc[int(len(sort)/2):]),"max:",sort["Dice"].max())

quartiles(df)

min: 1 25%: 1 50%: 2.5 75%: 4 max: 5

## Challenge 3
Read the csv `roll_the_dice_hundred.csv` from the `data` folder.
#### 1.- Sort the values and plot them. What do you see?

In [146]:
# your code here
df1 = pd.read_csv('/Users/karolinabirnbaum/DAFT_0116/module_2/Lab_4_Descriptive-Statistics/roll_the_dice_hundred.csv')

In [160]:
"""
your comments here
"""

df2 = df1.rename(columns={'Unnamed: 0' :'zero'})

In [161]:
df2

    zero  roll  value
0      0     0      1
1      1     1      2
2      2     2      6
3      3     3      1
4      4     4      6
..   ...   ...    ...
95    95    95      4
96    96    96      6
97    97    97      1
98    98    98      3
99    99    99      6

[100 rows x 3 columns]

In [117]:
df1.sort_values(['value'])
df1.drop(['Unnamed: 0'], axis = 1, inplace = True)

#### 2.- Using the functions you defined in *challenge 2*, calculate the mean value of the hundred dice rolls.

In [118]:
# your code here
lst = df1['value'].values.tolist()
mean_cal(lst)

3.74

#### 3.- Now, calculate the frequency distribution.

In [168]:
# your code here
pd.DataFrame(df2['value'].value_counts())
#.reset_index().sort_values(by=['index'],ascending=True)

   value
6     23
4     22
2     17
3     14
1     12
5     12

In [121]:
df1.groupby(["value"]).agg({"value":"count"})

       value
value
1         12
2         17
3         14
4         22
5         12
6         23

#### 4.- Plot the histogram. What do you see (shape, values...) ? How can you connect the mean value to the histogram?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 5.- Read the `roll_the_dice_thousand.csv` from the `data` folder. Plot the frequency distribution as you did before. Has anything changed? Why do you think it changed?

In [ ]:
# your code here

In [174]:
"""
your comments here
"""
df_thousand = pd.read_csv('/Users/karolinabirnbaum/DAFT_0116/module_2/Lab_4_Descriptive-Statistics/roll_the_dice_thousand.csv')

In [175]:
df_thousand.sort_values(['value'])
df_thousand
df_thousand.drop(['Unnamed: 0','roll'], axis = 1, inplace = True)
df_thousand

     value
0        5
1        6
2        1
3        6
4        5
..     ...
995      1
996      4
997      4
998      3
999      6

[1000 rows x 1 columns]

In [177]:
#df_thousand = df_thousand.groupby(['value']).count().reset_index()
#df_thousand
#df_thousand = df_thousand.groupby(['roll']).value_counts().reset_index().sort_values(by=['roll'], ascending =True)
#df_thousand
#pd.DataFrame(df1['value'].value_counts()).reset_index().sort_values(by=['index'],ascending=True)
#df_thousand.groupby(["value"]).agg({"value":"count"})
pd.DataFrame(df_thousand['value'].value_counts())

   value
1    175
3    175
4    168
2    167
6    166
5    149

## Challenge 4
In the `data` folder of this repository you will find three different files with the prefix `ages_population`. These files contain information about a poll answered by a thousand people regarding their age. Each file corresponds to the poll answers in different neighbourhoods of Barcelona.

#### 1.- Read the file `ages_population.csv`. Calculate the frequency distribution and plot it as we did during the lesson. Try to guess the range in which the mean and the standard deviation will be by looking at the plot.

In [180]:
# your code here
age = pd.read_csv('/Users/karolinabirnbaum/DAFT_0116/module_2/Lab_4_Descriptive-Statistics/ages_population.csv')

In [181]:
pd.DataFrame(age['observation'].value_counts())

      observation
39.0           45
41.0           36
30.0           34
35.0           33
43.0           32
...           ...
73.0            1
82.0            1
70.0            1
71.0            1
69.0            1

[72 rows x 1 columns]

#### 2.- Calculate the exact mean and standard deviation and compare them with your guesses. Do they fall inside the ranges you guessed?

In [183]:
# your code here
age.mean()

observation    36.56
dtype: float64

In [184]:
"""
your comments here
"""
age.describe()

       observation
count    1000.0000
mean       36.5600
std        12.8165
min         1.0000
25%        28.0000
50%        37.0000
75%        45.0000
max        82.0000

#### 3.- Now read the file `ages_population2.csv` . Calculate the frequency distribution and plot it.

In [ ]:
# your code here

####  4.- What do you see? Is there any difference with the frequency distribution in step 1?

In [ ]:
"""
your comments here
"""

#### 5.- Calculate the mean and standard deviation. Compare the results with the mean and standard deviation in step 2. What do you think?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

## Challenge 5
Now is the turn of `ages_population3.csv`.

#### 1.- Read the file `ages_population3.csv`. Calculate the frequency distribution and plot it.

In [ ]:
# your code here

#### 2.- Calculate the mean and standard deviation. Compare the results with the plot in step 1. What is happening?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 3.- Calculate the four quartiles. Use the results to explain your reasoning for question in step 2. How much of a difference is there between the median and the mean?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 4.- Calculate other percentiles that might be useful to give more arguments to your reasoning.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

## Bonus challenge
Compare the information about the three neighbourhoods. Prepare a report about the three of them. Remember to find out which are their similarities and their differences backing your arguments in basic statistics.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""